body{
  background-color: #c8e1ef;
  font-family: Arial, Helvetica, sans-serif;
}

a{
    text-decoration: none;
    display: block; 
    z-index: 0;
    transform: scale(1,1);
    transition-property: z-index;
    transition: a11 2s ease-out;
  }

  a:hover {
    transform: scale(1.2,1.2);
    z-index: 100;
}

img{
    width: 400px; 
    height: 105px;
    /*margin: 0 auto;*/
    
      
}

h1 {
    font-size: 50px;
    font-family: 'Courier New', Courier, monospace;
    text-align: center;
    position: relative;
}

table{
  /*font-family:微軟正黑體;*/
  font-family:'Courier New', Courier, monospace;
  /*border: 2px solid;*/  
  border-collapse: collapse;
  width: 50%;
  margin-top: 50px;
  margin-left:auto; 
  margin-right:auto;  
  table-layout: fixed;
  text-align: center;   
}  

tr, td{
  /*border: 2px solid;*/
  font-weight: bolder;
  font-size: 25px;
  height: 40px;
}

